:root{
    --encabezado:#0A417F;
    --enlace:#fff;
}

#logo{
    width: 75%;
}

#menu{
    background-color:var(--encabezado) !important;
}

.nav-link{
    color: var(--enlace);
    font-weight: bold;
}